<h1>Pirate</h1>
<li><%= @pirate.name %></li>
<li><%= @pirate.weight %></li>
<li><%= @pirate.height %></li>
<h2>Ship One</h2>
<li>Name: <%= @shipone[0] %></li>
<li>Type: <%= @shipone[1] %></li>
<li>Booty: <%= @shipone[2] %></li>

<h2>Ship Two</h2>
<li>Name: <%= @shiptwo[0] %></li>
<li>Type: <%= @shiptwo[1]%></li>
<li>Booty: <%= @shiptwo[2] %></li>
